<div class="row">
<div class="col-md-12">
    <h2>{{viewData.employee.firstName}} {{viewData.employee.lastName}} - Employee: {{ viewData.employee.employeeNum}}</h2>
    <hr />
<form method="post" action="/employee/update">
<fieldset>
<legend>Personal Information</legend>
<div class="row">
    <div class="col-md-6">
            <div class="form-group">
            <label for="firstName">First Name:</label>
            <input class="form-control" id="firstName" name="firstName" type="text" value="{{ viewData.employee.firstName}}" />
            </div>
        </div>
        
    <div class="col-md-6">
         <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input class="form-control" id="lastName" name="lastName" type="text" value="{{ viewData.employee.lastName}}" />
        </div>
    </div>
    <input class="form-control" id="employeeNum" name="employeeNum" type="hidden" value="{{viewData.employee.employeeNum}}"/>
    <div class="col-md-6">
         <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" id="email" name="email" type="email" value="{{ viewData.employee.email}}"/>
        </div>
    </div>
    <div class="col-md-6">
         <div class="form-group">
            <label for="SSN">Social Security Num:</label>
            <input class="form-control" id="SSN" name="SSN" type="text" value="{{viewData.employee.SSN}}" readonly/>
        </div>
    </div>
    <div class="col-md-3">
         <div class="form-group">
            <label for="addressStreet">Address (Street):</label>
            <input class="form-control" id="addressStreet" name="addressStreet" type="text" value="{{ viewData.employee.addressStreet}}"/>
        </div>
    </div>
    <div class="col-md-3">
         <div class="form-group">
            <label for="addressCity">Address (City):</label>
            <input class="form-control" id="addresCity" name="addresCity" type="text" value="{{ viewData.employee.addresCity}}"/>
        </div>
    </div>
    <div class="col-md-3">
         <div class="form-group">
            <label for="addressCity">Address (State):</label>
            <input class="form-control" id="addressState" name="addressState" type="text" value="{{ viewData.employee.addressState}}"/>
        </div>
    </div>
    <div class="col-md-3">
         <div class="form-group">
            <label for="addressPostal">Address (Zip Code):</label>
            <input class="form-control" id="addressPostal" name="addressPostal" type="text" value="{{ viewData.employee.addressPostal}}"/>
        </div>
    </div>
 </div>
</fieldset>
<fieldset>
    <legend>Company Information</legend>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="isManager"> Manager:</label>
                {{#if viewData.employee.isManager}}
                <input class="form-control" type="checkbox" id="isManager", name="isManager" checked />
                {{else}}
                <input class="form-control" type="checkbox" id="isManager", name="isManager" />
                {{/if}}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="employeeManagerNum"> Employee's Manager Number:</label>
                <input class="form-control" type="text" id="employeeManagerNum", name="employeeManagerNum" value="{{viewData.employee.employeeManagerNum}}"/>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="status"> Status:</label><br>
                {{#equal viewData.employee.status "Full Time"}}
                <label class="checkbox-inline">
                    <input type="radio" id="statusFullTime" name="status" value="Full Time" checked=true/> Full Time
                </label>
                <label class="checkbox-inline">
                    <input type="radio" id="statusPartTime" name="status" value="Part Time" /> Part Time
                </label>
                {{/equal}}
                 {{#equal employee.status "Part Time"}}
                <label class="checkbox-inline">
                    <input type="radio" id="statusFullTime" name="status" value="Full Time"/> Full Time
                </label>
                <label class="checkbox-inline">
                    <input type="radio" id="statusPartTime" name="status" value="Part Time" checked=true/> Part Time
                </label>
                {{/equal}}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="department">Department</label>
               {{#if viewData.departments}}
                <select class="form-control" name="department" id="department">
                {{#each viewData.departments}}
                <option value="{{departmentId}}" {{#if selected}} selected {{/if}} >{{departmentName}} </option>
                {{/each}}
             </select>
                {{else}}
            <div>No Departments</div>
            {{/if}}
            </div>
        </div>
<div class="col-md-12">
         <div class="form-group">
            <label for="hireDate">Hire Date</label>
            <input class="form-control" id="hireDate" name="hireDate" type="text" value="{{ viewData.employee.hireDate}}" readonly/>
        </div>
    </div>
    </div>
</fieldset>
<hr />
<input type="submit" class="btn btn-primary pull-right" value="Update Employee" /><br /><br /><br />
</form>
</div>
</div>